# For tests
pytest >= 5.0
coverage >= 7.2.5
pytest-trio
pytest-cov

# Tools
black; implementation_name == "cpython"
ruff >= 0.6.6
uv >= 0.2.24
codespell

# https://github.com/python-trio/trio/pull/654#issuecomment-420518745
mypy-extensions
typing-extensions

# Idlemypyextension's own dependencies
#<TOML_DEPENDENCIES>
mypy~=1.14.1
orjson; implementation_name == "cpython"
trio~=0.28.0
#</TOML_DEPENDENCIES>
